/* add fonts */

@import "./utils/variables";
@import "./base";
@import "./utils/utils";

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

@import "./components/button";
@import "./components/links";
@import "./components/header";
@import "./components/hero-section";
@import "./components/advantages-section";
@import "./components/traditions-section";
@import "./components/chefs-section";
@import "./components/formats-section";
@import "./utils/carousel-button";
@import "./components/contact-section";
@import "./components/footer";
@import "./components/modal";
@import "./components/form";
