.modal-btn-open {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
}

.modal-btn-open:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
