.footer {
  padding: 32px 0;
  position: relative;
  background-image: url("./images/footer-background.png");
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before,
footer::after {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
}
.footer::before {
  width: 180px;
  height: 120px;
  background-image: url(/images/bread\ 1.png);
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(/images/bread\ 2.png);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  grid-area: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16 px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand);
}
.address-copyright {
  font-size: 14px;
}
